body {
  font-size: 16px;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(244, 244, 249);
}

p {
  color: rgba(184, 219, 217);
  font-family: "Montserrat", sans-serif, verdana;
}

p + p {
  margin-top: 8px;
}

h1 {
  border: 0px;
  background-color: rgba(184, 219, 217);
  padding: 10px;
}

h2 {
  text-decoration: underline overline;
}

h3 {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif, verdana;
}

h1,
h2 {
  text-align: center;
}

h4 {
  text-align: center;
  text-decoration: underline;
}

div {
  border: 2px rgb(88, 111, 124);
}

/* Class Selectors*/

.page {
  width: 1000px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 8px;
  background-color: rgba(184, 219, 217);
}

.site_map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.homepage {
  grid-column: 1/2;
  padding: 8px;
  border-style: solid;
  border-color: rgba(88, 111, 124);
  border-width: 5px;
  color: rgba(184, 219, 217);
  background-color: rgba(47, 69, 80);
}

.buy_sell {
  grid-column: 2/3;
  padding: 8px;
  border-style: solid;
  border-color: rgba(88, 111, 124);
  border-width: 5px;
  margin-left: 2px;
  margin-right: 2px;
  color: rgba(184, 219, 217);
  background-color: rgba(47, 69, 80);
}

.about {
  grid-column: 3/4;
  padding: 8px;
  border-style: solid;
  border-color: rgba(88, 111, 124);
  border-width: 5px;
  color: rgba(184, 219, 217);
  background-color: rgba(47, 69, 80);
}

.column_p {
  text-align: center;
}

.wireframes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  grid-gap: 2px;
}

.homeframe {
  grid-column: 1;
}

.buysellframe {
  grid-column: 2/3;
}

.aboutframe {
  grid-column: 3/4;
}

.homepage-main {
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgba(88, 111, 124);
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 5px 5px 5px 5px rgba(205, 205, 205);
}

.logo {
  width: 400px;
  height: auto;
}

.about-us-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
