body {
  font-size: 16px;
  margin: 0 auto;
  padding: 0px;
  background-color: rgb(241, 238, 238);
  max-width: 1040px;
  box-sizing: border-box;
}

footer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-content: center;
}

header {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif, verdana;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  color: rgba(54, 65, 86);
  font-size: 20px;
  font-family: "Montserrat", sans-serif, verdana;
  font-weight: bold;
  background-color: rgba(250, 224, 114);
  border-radius: 25px;
}

h1 {
  text-align: center;
  color: rgba(54, 65, 86);
  font-size: 2.5rem;
  font-family: "Rubik", sans-serif;
}

h2 {
  color: rgba(54, 65, 86);
  font-size: 2rem;
  font-family: "Rubik", sans-serif, verdana;
  text-align: center;
}

section {
  margin-top: 30px;
}

p {
  color: rgba(54, 65, 86);
  font-size: 20px;
  font-family: "Montserrat", sans-serif, verdana;
  line-height: 1.25;
}

main {
  margin: 1rem auto;
  background-color: rgba(223, 248, 235);
  padding: 1rem;
}

footer {
  grid-template-columns: 1fr 300px;
}

/* Class Selectors */

.page {
  width: 960px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: auto;
}

.navigation {
  list-style: none;
  display: flex;
  background-color: rgba(1, 22, 56);
  text-align: center;
}

.navigation li {
  flex: auto;
}
.navigation a {
  display: block;
  color: rgba(223, 248, 235);
  padding: 0.75rem;
  text-decoration: none;
}

.navigation a:hover {
  color: rgba(1, 22, 56);
  background-color: rgba(223, 248, 235);
  font-weight: 700;
}

.social {
  display: flex;
  justify-content: right;
}

.container {
  position: relative;
  width: 100%;
}

.item {
  position: absolute;
  top: 35%;
  left: 50px;
}

.s-one {
  display: grid;
  grid-gap: 20px;
}

.shadow {
  box-shadow: 5px 5px 5px 3px rgba(205, 205, 205);
  border-radius: 25px;
  width: 100%;
}

.shadow2,
.p-r-img {
  box-shadow: 5px 5px 5px 3px rgba(205, 205, 205);
  border-radius: 25px;
}

.rightpic {
  grid-column: 2/3;
}

.text1 {
  grid-column: 1;
}

.s-two {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}

.text2 {
  grid-column: 2;
}

.leftpic {
  grid-row: 1;
}

.radius {
  box-shadow: 3px 3px 3px 2px rgba(205, 205, 205);
  border-radius: 50%;
}

.three {
  text-align: center;
}

.active {
  text-decoration: underline;
}

.whitewater,
.scenic,
.both {
  display: grid;
  grid-gap: 20px;
}

.scenic-p {
  grid-column: 2;
  grid-gap: 10px;
}

.whitewater-p {
  grid-column: 2;
}

.both-p {
  grid-column: 2;
  grid-gap: 10px;
}

.white-button {
  position: absolute;
  right: 300px;
  bottom: 150px;
}

.scenic-button {
  position: absolute;
  right: 300px;
  top: 975px;
}

.both-button {
  position: absolute;
  right: 300px;
  top: 1375px;
}

.p-r-end {
  text-align: center;
  padding: 30px;
}
