body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header,
footer {
  margin: 0 auto;
  border: 1px solid #bbbbbb;
  padding: 0.5rem;
  background-color: rgba(205, 205, 205);
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-content: center;
}

header {
  grid-template-columns: 200px 1fr;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

li {
  display: inline;
  float: left;
  margin-right: 20px;
}

a:link {
  color: rgba(54, 65, 86);
}

a:visited {
  color: rgb(127, 152, 202);
}

a:hover {
  color: rgba(1, 22, 56);
}

h1 {
  color: rgba(54, 65, 86);
  font-size: 2.5rem;
  font-family: "Rubik", sans-serif;
}

h2 {
  color: rgba(54, 65, 86);
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
}

p {
  color: rgba(54, 65, 86);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.25;
}

main {
  margin: 1rem auto;
  background-color: rgba(223, 248, 235);
  padding: 1rem;
}

footer {
  grid-template-columns: 1fr 300px;
}

/* Class Selectors */

.page {
  width: 960px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: auto;
}

.shadow {
  box-shadow: 5px 5px 5px 3px rgba(205, 205, 205);
  border-radius: 25px;
}

.radius {
  box-shadow: 3px 3px 3px 2px rgba(205, 205, 205);
  border-radius: 50%;
}
